@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div>

    <p>My name is Nelson Reis, I'm a software developer from Portugal with several years of experience in the .NET stack, creating solutions using several technologies, including ASP.NET, MVC, WPF, JavaScript and many others.</p>
	
    <img src="http://www.gravatar.com/avatar/1380b563b741341fa3f18585f898a494.png?s=200" alt="Me">

    <p>I really love combining the creative process and the technical aspects of coming up with ideas and making them alive in cool applications.</p>
	
    <p>As an hobby, I like to learn about all the exciting stuff related to software development, from agile methodologies, to design patterns and new technology trends.</p>
    
    <p>You can follow me on <br />
      Twitter: <a href="http://twitter.com/NelsonReis">&#64;NelsonReis</a> <br />
      GitHub: <a href="http://github.com/NelsonReis">github.com/NelsonReis</a> <br />
      LinkedIn: <a href="http://pt.linkedin.com/in/nelsonfsr">linkedin.com/in/nelsonfsr</a> <br />
			Facebook: <a href="http://facebook.com/nelsonfsr">facebook.com/nelsonfsr</a> <br />
    </p>

  </div>
