{
  "blogTitle": "Nelson Reis Blog",
  "siteUrl": "http://www.nelsonreis.net",
  "author": "Nelson Reis",
  "email": "nelsonfsr@gmail.com",
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "snowbyte",
  "output": "../dist",
  "urlFormat": "yyyy/MM/dd/slug",
  "directoryname": "",
  "copyDirectories": [
    "images/output => images",
    "javascripts",
    "stylesheets",
    "rootFiles => ."
  ],
  "defaultPostLayout": "post",
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml => category"
  },{
    "file": "archive.cshtml"
  },{
    "file": "about.cshtml"
  },{
    "file": "drafts.cshtml",
    "loop": "Drafts"
  },{
    "file": "rss.xml",
    "loop": "RSS"
  },{
    "file": "feed.xml",
    "loop": "atom"
  },{
    "file": "sitemap.xml",
    "loop": "sitemap"
  }]
}